.imgSizing {
    max-width: 200px;
}

.clothingItem-container {
    display: flex;
    flex-wrap: center;
    flex-wrap: wrap;
    padding: 100px;
}

.clothingItem {
    border: 2px solid rgb(18, 41, 107);
    border-radius: 2px;
    padding: 1rem;
    margin-left: 300px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 600px;
}

.filter {
    padding-bottom: .2rem;
    margin: 2rem;
}

.admin {
    margin: 1rem;
}

.filterItem {
    border: 2px solid rgb(62, 69, 75);
    border-radius: 2px;
    padding: .5rem;
    margin-left: 300px;
    margin-bottom: .2rem;
    width: 600px;
    
}

.filterItem-2 {
    border: 2px solid rgb(0, 69, 130);
    border-radius: 2px;
    padding: .5rem;
    margin-left: 300px;
    margin-bottom: .2rem;
    width: 600px;
    
}

.filterItem-1 {
    border: 2px solid rgb(216, 148, 0);
    border-radius: 2px;
    padding: .5rem;
    margin-left: 300px;
    margin-bottom: .2rem;
    width: 600px;
    
}

.filterItem-3 {
    border: 2px solid rgb(216, 0, 0);
    border-radius: 2px;
    padding: .5rem;
    margin-left: 300px;
    margin-bottom: .2rem;
    width: 600px;
    
}